$deg : (360/31); //11.25
$skew : 90 - $deg;
$skew : 80;

#video{
	width: 100% !important;
	height: 100% !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	@media all and (max-width: 1100px){
		// ios seems blocking the ui
		//height: 50% !important;
		//top: -50%;
		pointer-events: none;
	}
	.iPhone &{
		top: -100%;
	}
}

nav{
	#svg-wheel{
		width: 300px;
		height: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -150px;
		margin-top: -150px;
		.arc{
			cursor: pointer;
			.selector{
				opacity: 0;
				transition: all 0.5s;
			}
		}
	}
	#non-svg-wheel{
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		margin-top: -225px;
		margin-left: -225px;
		width: 450px;
		height: 450px;
		border-radius: 50%;
		background: transparent;
		overflow: hidden;
		@media all and (max-width: 1100px){
			width: 400px;
			height: 400px;
			margin-left: -200px;
		}
		.svg &{
			display: none;
		}
	}
	li{
		border: 1px solid transparent;
		position: absolute;
		top: 5%;
		left: 50%;
		overflow: hidden;
		margin-top: -35px;
		margin-left: -240px;
		width: 240px;
		height: 240px;
		font-size: 1.5em;
		transform-origin: 100% 100%;
		pointer-events: none;
		@media all and (max-width: 1100px){
			// width: 140px;
			// height: 140px;
			// margin-left: -140px;
		}
		&:first-child { transform: rotate($deg * 1+deg ) skew($skew+deg);}
		&:nth-child(2) { transform: rotate($deg * 2+deg ) skew($skew+deg);}
		&:nth-child(3) { transform: rotate($deg * 3+deg  ) skew($skew+deg);}
		&:nth-child(4) { transform: rotate($deg * 4+deg ) skew($skew+deg);}
		&:nth-child(5) { transform: rotate($deg * 5+deg ) skew($skew+deg);}
		&:nth-child(6) { transform: rotate($deg * 6+deg ) skew($skew+deg);}
		&:nth-child(7) { transform: rotate($deg * 7+deg ) skew($skew+deg);}
		&:nth-child(8) { transform: rotate($deg * 8+deg ) skew($skew+deg);}
		&:nth-child(9) { transform: rotate($deg * 9+deg ) skew($skew+deg);}
		&:nth-child(10) { transform: rotate($deg * 10+deg ) skew($skew+deg);}
		&:nth-child(11) { transform: rotate($deg * 11+deg ) skew($skew+deg);}
		&:nth-child(12) { transform: rotate($deg * 12+deg ) skew($skew+deg);}
		&:nth-child(13) { transform: rotate($deg * 13+deg ) skew($skew+deg);}
		&:nth-child(14) { transform: rotate($deg * 14+deg ) skew($skew+deg);}
		&:nth-child(15) { transform: rotate($deg * 15+deg ) skew($skew+deg);}
		&:nth-child(16) { transform: rotate($deg * 16+deg ) skew($skew+deg);}
		&:nth-child(17) { transform: rotate($deg * 17+deg ) skew($skew+deg);}
		&:nth-child(18) { transform: rotate($deg * 18+deg ) skew($skew+deg);}
		&:nth-child(19) { transform: rotate($deg * 19+deg ) skew($skew+deg);}
		&:nth-child(20) { transform: rotate($deg * 20+deg ) skew($skew+deg);}
		&:nth-child(21) { transform: rotate($deg * 21+deg ) skew($skew+deg);}
		&:nth-child(22) { transform: rotate($deg * 22+deg ) skew($skew+deg);}
		&:nth-child(23) { transform: rotate($deg * 23+deg ) skew($skew+deg);}
		&:nth-child(24) { transform: rotate($deg * 24+deg ) skew($skew+deg);}
		&:nth-child(25) { transform: rotate($deg * 25+deg ) skew($skew+deg);}
		&:nth-child(26) { transform: rotate($deg * 26+deg ) skew($skew+deg);}
		&:nth-child(27) { transform: rotate($deg * 27+deg ) skew($skew+deg);}
		&:nth-child(28) { transform: rotate($deg * 28+deg ) skew($skew+deg);}
		&:nth-child(29) { transform: rotate($deg * 29+deg ) skew($skew+deg);}
		&:nth-child(30) { transform: rotate($deg * 30+deg ) skew($skew+deg);}
		&:nth-child(31) { transform: rotate($deg * 31+deg ) skew($skew+deg);}
		&:nth-child(32) { transform: rotate($deg * 32+deg ) skew($skew+deg);}
		a{
			border: 1px solid transparent;
			position: absolute;
			//position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
			right: -7.25em;
			bottom: -7.25em;
			display: block;
			width: 418px;
			height: 418px;
			border-radius: 50%;
			background: #429a67;
			background: radial-gradient(transparent 55%, #429a67 55%);
			color: #fff;
			text-align: center;
			text-decoration: none;
			font-size: 1.2em;
			line-height: 2;
			transform: skew(-$skew+deg) scale(1) ;
			pointer-events: auto;
			@media all and (max-width: 1100px){
				width: 390px;
				height: 390px;
			}
			&.selected{
				background: red;
				background: radial-gradient(transparent 55%, red 55%);
			}
			&.playing{
				background: blue;
				background: radial-gradient(transparent 55%, blue 55%);
			}
		}
	}
}

