nav{
	position: fixed;
	@media all and (max-width: 1100px){
		position: absolute;
		display: block;
		top: 0;
		background: white;
		z-index: 1;
		padding: 10px;
	}
}

#video{
	width: 100% !important;
	height: 100% !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	@media all and (max-width: 1100px){
		height: 50% !important;
		top: -50%;
		pointer-events: none;
	}
}