<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="images/beach1.jpg" />
    </li>
    <li>
      <img src="images/beach2.jpg" />
    </li>
    <li>
      <img src="images/beach3.jpg" />
    </li>
  </ul>
</div>