<div id="module-1">
	<div id="audio-container">
		<audio id="audio" width="100%" height="50px">
			<source src='media/wc_audio.ogv' type="audio/ogg">
			<source src='media/wc_audio.mp3' type="audio/mpeg">
		</audio>
	</div>

	<div id="video-container">
		<video id="video" class="video-js vjs-default-skin" preload width="100%" height="58%"
		data-setup='{}'>
			<source src="media/wc_video.webm" type="video/webm"/>
			<source src="media/wc_video.mp4" type="video/mp4"/>
		</video>
	</div>

	<!-- 
	RICHARD'S AWS FOR TESTING PURPOSE!!!! DON'T MAKE RICHARD PAY :O !!!
	<source src="https://s3-us-west-1.amazonaws.com/fifa-test/videos/wc_video.webm" type="video/webm"/>
	<source src="https://s3-us-west-1.amazonaws.com/fifa-test/videos/wc_video.mp4" type="video/mp4"/> -->
	
	<div id="overlay-poster"></div>

	<div id="wheel-controls">
		<div id="svg-wheel"></div>
		<ul id="non-svg-wheel">
		</ul>
		<h1 id="country"></h1>
		<div id="video-controls">
			<div class="video-control-progress"><span></span></div>
			<div class="video-control-play play-button">LOADING</div>
		</div>
	</div>
</div>


