

<nav>
	<a href="#" id="play">play</a>
	<a href="#" id="time">time</a>
	<a href="#" id="event">getbuffer</a>

</nav>

<div id="video-container">
	<video id="video" class="video-js vjs-default-skin" controls preload width="640" height="265"
	data-setup='{}'>
		<source src="videos/ikea.mp4" type="video/mp4"/>
		<source src="videos/ikea.webm" type="video/webm"/>
	</video>
</div>


