

<nav>
	<a href="#" id="play">play</a>
	<a href="#" id="time">country</a>
	<a href="#" id="time2">country2</a>
	<a href="#" id="time3">country3</a>
	<a href="#" id="time4">country4</a>
	<a href="#" id="time5">country5</a>
	<a href="#" id="event">getbuffer</a>

</nav>

<div id="video-container">
	<video id="video" class="video-js vjs-default-skin" controls preload width="100%" height="58%"
	data-setup='{}'>
		<source src="media/ikea.mp4" type="video/mp4"/>
		<source src="media/ikea.webm" type="video/webm"/>
	</video>
</div>

<div id="audio-container">
	<audio id="audio">
		<source src='media/visa.mp3' type="audio/mp3">
		<source src='media/visa.ogv' type="audio/ogg">
	</audio>
</div>

<p id="status"></p>


