
<nav>
	<a href="#" id="time">country</a>
	<a href="#" id="time2">country2</a>
	<a href="#" id="time3">country3</a>
	<a href="#" id="time4">country4</a>
	<a href="#" id="time5">country5</a>

</nav>

<div id="video-container">
	<video id="video" class="video-js vjs-default-skin" controls preload width="100%" height="58%"
	data-setup='{}'>
		<source src="media/ikea.mp4" type="video/mp4"/>
		<source src="media/ikea.webm" type="video/webm"/>
	</video>
</div>
<h1>HELLO</h1>
<div id="audio-container">
	<audio id="audio" controls width="100%" height="50px">
		<source src='media/visa.ogv' type="audio/ogg">
		<source src='media/visa.mp3' type="audio/mpeg">
	</audio>
</div>


