

<nav>
	<a href="#" class="video-link" data-vid="videos/dts" id="video-1">dts</a>
	<a href="#" class="video-link" data-vid="videos/ikea" id="video-2">ikea</a>
	<a href="#" class="video-link" data-vid="videos/richard" id="video-3">richard</a>
	<a href="#" id="time">time</a>
</nav>

<div id="video-container">
	
</div>


