$deg : (360/31); //11.25
$skew : 90 - $deg;
$skew : 80;

#module-1{
	position: relative;
	width: 100%;
	height: 100%;
	#video{
		width: 100% !important;
		height: 100% !important;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		@media all and (max-width: 1100px){
			pointer-events: none;
		}
		.iPhone &{
			//top: -100%;
			border: 1px solid white;
			top: 110px;
			left: 50%;
			margin-left: -50px;
			width: 100px !important;
			height: 70px !important;
		}
	}
	#overlay-poster{
		//background: url("../images/sea.gif") no-repeat;
		//background-size: cover;
		width: 100%;
		height: 100%;
	}
	#wheel-controls{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 300px;
		margin: -150px 0 0 -150px;
		transition: all 1s;
		&.hide-player{
			opacity: 0;
		}
		.no-svg &{
			width: 450px;
			height: 450px;
			margin: -225px 0 0 -225px;
		}
		#country{
			width: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -50px;
			text-align: center;
		}
		#video-controls{
			position: absolute;
			top: 56%;
			left: 50%;
			width: 100px;
			height: auto;
			margin-left: -50px;
			.video-control-play{
				cursor: pointer;
				text-align: center;
				margin-top: 20px;
			}
			.video-control-progress{
				border: 1px solid black;
				background: gray;
				cursor: pointer;
				width: 100px;
				height: 5px;
				span{
					background: white;
					display: block;
					width: 0;
					height: 100%;
				}
			}
		}
		#svg-wheel{
			width: 300px;
			height: 300px;
			opacity: 1;
			transition: all 1s;
			position: relative;
			.arc{
				cursor: pointer;
				.selector{
					opacity: 0;
					//transition: all 0.5s;
					&.selected{
						opacity: 1;
					}
				}
			}
		}
		#non-svg-wheel{
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 10;
			margin-top: -225px;
			margin-left: -225px;
			width: 450px;
			height: 450px;
			border-radius: 50%;
			background: transparent;
			overflow: hidden;
			@media all and (max-width: 1100px){
				width: 400px;
				height: 400px;
				margin-left: -200px;
			}
			.svg &{
				display: none;
			}
		}
		li{
			border: 1px solid transparent;
			position: absolute;
			top: 5%;
			left: 50%;
			overflow: hidden;
			margin-top: -35px;
			margin-left: -240px;
			width: 240px;
			height: 240px;
			font-size: 1.5em;
			transform-origin: 100% 100%;
			pointer-events: none;
			@media all and (max-width: 1100px){
				// width: 140px;
				// height: 140px;
				// margin-left: -140px;
			}
			&:first-child { transform: rotate($deg * 1+deg ) skew($skew+deg);}
			&:nth-child(2) { transform: rotate($deg * 2+deg ) skew($skew+deg);}
			&:nth-child(3) { transform: rotate($deg * 3+deg  ) skew($skew+deg);}
			&:nth-child(4) { transform: rotate($deg * 4+deg ) skew($skew+deg);}
			&:nth-child(5) { transform: rotate($deg * 5+deg ) skew($skew+deg);}
			&:nth-child(6) { transform: rotate($deg * 6+deg ) skew($skew+deg);}
			&:nth-child(7) { transform: rotate($deg * 7+deg ) skew($skew+deg);}
			&:nth-child(8) { transform: rotate($deg * 8+deg ) skew($skew+deg);}
			&:nth-child(9) { transform: rotate($deg * 9+deg ) skew($skew+deg);}
			&:nth-child(10) { transform: rotate($deg * 10+deg ) skew($skew+deg);}
			&:nth-child(11) { transform: rotate($deg * 11+deg ) skew($skew+deg);}
			&:nth-child(12) { transform: rotate($deg * 12+deg ) skew($skew+deg);}
			&:nth-child(13) { transform: rotate($deg * 13+deg ) skew($skew+deg);}
			&:nth-child(14) { transform: rotate($deg * 14+deg ) skew($skew+deg);}
			&:nth-child(15) { transform: rotate($deg * 15+deg ) skew($skew+deg);}
			&:nth-child(16) { transform: rotate($deg * 16+deg ) skew($skew+deg);}
			&:nth-child(17) { transform: rotate($deg * 17+deg ) skew($skew+deg);}
			&:nth-child(18) { transform: rotate($deg * 18+deg ) skew($skew+deg);}
			&:nth-child(19) { transform: rotate($deg * 19+deg ) skew($skew+deg);}
			&:nth-child(20) { transform: rotate($deg * 20+deg ) skew($skew+deg);}
			&:nth-child(21) { transform: rotate($deg * 21+deg ) skew($skew+deg);}
			&:nth-child(22) { transform: rotate($deg * 22+deg ) skew($skew+deg);}
			&:nth-child(23) { transform: rotate($deg * 23+deg ) skew($skew+deg);}
			&:nth-child(24) { transform: rotate($deg * 24+deg ) skew($skew+deg);}
			&:nth-child(25) { transform: rotate($deg * 25+deg ) skew($skew+deg);}
			&:nth-child(26) { transform: rotate($deg * 26+deg ) skew($skew+deg);}
			&:nth-child(27) { transform: rotate($deg * 27+deg ) skew($skew+deg);}
			&:nth-child(28) { transform: rotate($deg * 28+deg ) skew($skew+deg);}
			&:nth-child(29) { transform: rotate($deg * 29+deg ) skew($skew+deg);}
			&:nth-child(30) { transform: rotate($deg * 30+deg ) skew($skew+deg);}
			&:nth-child(31) { transform: rotate($deg * 31+deg ) skew($skew+deg);}
			&:nth-child(32) { transform: rotate($deg * 32+deg ) skew($skew+deg);}
			a{
				border: 1px solid transparent;
				position: absolute;
				//position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
				right: -7.25em;
				bottom: -7.25em;
				display: block;
				width: 418px;
				height: 418px;
				border-radius: 50%;
				background: #429a67;
				background: radial-gradient(center, transparent 55%, #429a67 55%);
				color: #fff;
				text-align: center;
				text-decoration: none;
				font-size: 1.2em;
				line-height: 2;
				transform: skew(-$skew+deg) scale(1) ;
				pointer-events: auto;
				@media all and (max-width: 1100px){
					width: 390px;
					height: 390px;
				}
				&.selected{
					background: red;
					background: radial-gradient(center, transparent 55%, red 55%);
				}
				&.playing{
					background: blue;
					background: radial-gradient(center, transparent 55%, blue 55%);
				}
			}
		}
	}
}

